.config/hypr/wallpapers/*.jpg
.config/hypr/wallpapers/*.png
.config/hypr/wallpapers/*.gif
.config/hypr/wallpapers/*.jpeg
.config/hypr/wallpapers/*.webp
.config/hypr/wallpapers/*.svg
.config/hypr/monitors/active.conf
nvim-linux-*.tar.gz
.config/clipse/clipboard_history.json
.config/clipse/clipse.log