configuration {
  modes: [ drun, run, filebrowser ];
  combi-modes: [ window, drun, run ];
  show-icons: true;
}


/* Insert theme modifications after this */
@theme "/usr/share/rofi/themes/tokyonight.rasi"

element-icon {
  size: 1em;
  margin: 0 0.2em 0 0;
}

element-text {
  margin: 0 0 0 0.2em;
}

* {
    font: "JetBrainsMono Nerd Font 18";
}
 

