@define-color tn-bg      #1a1b26;
@define-color tn-bg-dark #16161e;
@define-color tn-fg      #c0caf5;
@define-color tn-blue    #7aa2f7;
@define-color tn-cyan    #7dcfff;
@define-color tn-green   #9ece6a;
@define-color tn-magenta #bb9af7;
@define-color tn-yellow  #e0af68;
@define-color tn-red     #f7768e;
@define-color tn-comment #565f89;
@define-color tn-border  #414868;
@define-color tn-select  #33467c;

* {
  font-family: 'JetBrainsMono Nerd Font', 'Fira Code', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @tn-blue;
  border-radius: 0.8em;
  background-color: @tn-bg;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @tn-bg;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @tn-bg;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @tn-bg;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @tn-fg;
  background-color: @tn-bg-dark;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: @tn-red;
}

#input * {
  outline: 4px solid @tn-blue!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @tn-fg;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @tn-bg;
}

#entry arrow {
  border: none;
  color: @tn-blue;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @tn-blue;
  border-radius: 0.3em;
  outline: none;
  background-color: @tn-select;
}

#entry:selected #text {
  color: @tn-magenta;
}

#entry:drop(active) {
  background-color: @tn-blue!important;
}
